/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

body {
    padding: 75px 0;
    display: grid;
    justify-content: center;
    background-color: #E5E5E5;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: 700;
}

/* main container styles */

.main-container {
    width: 550px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

/* header styles */

header {
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-top: 22px;
    padding-bottom: 22px;
}

header > img {
    height: 25.35px;
    width: 82.02px;
}

/* hero styles */

.hero {
    padding: 30px 0;
    text-align: center;
}

.hero > img {
    width: 395.91px;
    height: 232px;
    padding-bottom: 25px;
}

.hero-text-content {
    text-align: start;
    padding-left: 36px;
}

.hero-text-content > h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

.hero-text-content > p {
    font-size: 1.6rem;
    width: 70%;
}

/* card styles */

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    position: relative;
    width: 175px;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    padding-left: 37px;
    padding-bottom: 30px;
}

.card > img {
    width: 176px;
    height: 235px;
    border-radius: 9px;
}

.card > p {
    padding-top: 3px;
}

.card--stats {
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.card--stats > img {
    height: 14px;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 18px;
    overflow-x: auto;
}

.card-badge {
    position: absolute;
    top: 10px;
    left: 48px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}



